# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Test scripts
test*.py

# Checkpoints and Models
B/checkpoints/
B/models/
C/checkpoints/
C/models/
D/checkpoints/
D/models/
E/checkpoints/
E/models/
F/checkpoints/
F/models/
test/
